@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/Outfit-VariableFont_wght.ttf) format(truetype)
      tech(variations),
    url(assets/fonts/Outfit-VariableFont_wght.ttf) format(truetype-variations);
}
html {
  font-size: 18px;
  font-family: "Outfit";
  color: hsl(215, 51%, 70%);
}
main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(217, 54%, 11%);
}
.card {
  width: 326px;
  height: 542px;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding-top: 24px;
}
.img-container {
  flex-shrink: 0;
  width: 278px;
  height: 278px;
  border-radius: 10px;
  overflow: hidden;
}
img {
  width: inherit;
}
h1,
.author-name {
  color: hsl(0, 0%, 100%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
